@import url("multi-select.css");

a {
    text-decoration: none;
}
.inside .ms-container {
    width: 100%;
}

.cms-toolkit-input {
    width: 37%;
}

.cms-toolkit-wrapper {
    margin-bottom: 0.5em;
    margin-left: 1em;
}
div.form {
    padding: .5em;
}
div.set {
    border-left: 2px solid #F0F2F2;
    /*padding: .5em;*/
}
h2.form-header {
    border-bottom: 1px solid #F0F2F2;
    padding: 0 !important;
    margin: 0 0 2px 0 !important;
}
p.howto {
    margin-bottom: 3px;
}
h3.set-header, label.set-header {
    margin: 0 0 2px 1em !important;
}
.cms-toolkit-wrapper > div > .set-header {
    margin: 0;
    font-size: 1.2em;
}
.cms-toolkit-wrapper > div > .cms-toolkit-label {
    margin-top: .5em;
    margin-left: .5em;
}
.remove {
    color: red;
    font-size: .8em;
}
.cms-toolkit-input,
.cms-toolkit-textarea,
.cms-toolkit-checkbox
{
    margin-top: 0.5em;
    margin-left: 0.5em;
}

.link-field > .cms-toolkit-input,
.link-field > .cms-toolkit-label {
    margin-left: 0.3em;
    display: inline;
}

.cms-toolkit-wrapper .howto {
    margin-top: 0;
    margin-left: 0.5em;
}


.block-label {
    display: block;
}
input:required {
    border: 1px solid red;
}
.toggle-repeated-field {
cursor: pointer;
}
